
__pycache__/
__pypackages__/
!examples/**/*.png
!reference/**/*.otf
!reference/**/*.png
!reference/**/*.ttf
!testdata/expected/coretext/*.png
!testdata/fonts/
!testdata/fonts/*.otf
!testdata/fonts/*.ttf
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.cache
.classpath
.com.apple.timemachine.donotpresent
.coverage
.coverage.*
.dmypy.json
.DocumentRevisions-V100
.DS_Store
.eggs/
.env
.fseventsd
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.LSOverride
.mypy_cache/
.nox/
.pdm-build/
.pdm-python
.pdm.toml
.project
.pybuilder/
.pyre/
.pytest_cache/
.Python
.python-version
.pytype/
.ropeproject
.scrapy
.settings/
.Spotlight-V100
.spyderproject
.spyproject
.TemporaryItems
.tox/
.Trashes
.venv
.VolumeIcon.icns
.vscode/
.webassets-cache
*.bak
*.cover
*.dll
*.dylib
*.egg
*.egg-info/
*.log
*.manifest
*.mo
*.otf
*.pdb
*.pgm
*.png
*.pot
*.py,cover
*.py[cod]
*.rgba
*.sage.py
*.so
*.spec
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.temp
*.tmp
*.ttf
*.woff
*.woff2
**/*.rs.bk
**/mutants.out*/
**/target/
*~
*$py.class
/site
build/
celerybeat-schedule
celerybeat.pid
cover/
coverage.xml
cython_debug/
db.sqlite3
db.sqlite3-journal
debug
debug/
develop-eggs/
dist/
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
ENV/
fonts/
htmlcov/
Icon
instance/
ipython_config.py
lib/
lib64/
llms.txt
local_settings.py
MANIFEST
Network Trash Folder
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
Pipfile.lock
poetry.lock
profile_default/
python/**/*.dll
python/**/*.dylib
python/**/*.so
python/**/target/
sdist/
share/python-wheels/
target
target/
Temporary Items
var/
venv.bak/
venv/
wheels/