__pycache__/
._*
.appledb
.AppleDesktopNetworkControl
.AppleDouble
.cache
.coverage
.coverage.*
.dmypy.json
.DS_Store
.env
.env.local
.envrc
.hypothesis/
.idea/
.LSOverride
.mypy_cache/
.pyre/
.pytest_cache/
.ruff_cache/
.Spotlight-V100
.Trashes
.venv/
.venv/*
.vscode/
*_old.py
*_old.rs
*.bak
*.cover
*.dll
*.dylib
*.egg-info/
*.log
*.orig
*.otf
*.pdb
*.profdata
*.py[cod]
*.pyd
*.so
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.temp
*.tmp
*.ttf
*.woff
*.woff2
**/*.rs.bk
**/examples/*.ppm
**/mutants.out*/
*~
*$py.class
/target/
build-log.txt
build/
callgrind.out*
coverage.xml
debug/
dist/
dmypy.json
docs/_build/
docs/INDEX/
external/
fonts/
fuzz/artifacts/
fuzz/corpus/
fuzz/target/
heaptrack.*.gz
htmlcov/
llms.txt
massif.out*
nosetests.xml
old-typf/
output.ppm
perf.data*
python/**/*.dll
python/**/*.dylib
python/**/*.so
python/**/target/
python/build/
python/dist/
python/wheelhouse/
test_output.txt
test_reports/
Thumbs.db
typf-tester/output/*.json
typf-tester/output/*.md
typf-tester/output/*.png
typf-tester/output/*.svg
typf-tldr.txt
test.ppm
test-fonts/
/.claude
